[submodule "vim"]
	path = vim
	url = https://github.com/hoverwinter/vim
[submodule "shell/oh-my-zsh"]
	path = shell/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
[submodule "emacs.d"]
	path = emacs.d
	url = https://github.com/hoverwinter/emacs.d
